:root {
  --darkBlue: rgba(8, 33, 92, 1);
  --blue: rgba(44, 67, 121, 1);
  --white: #fff;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: var(--darkBlue);
  transition: background 4s ease;
}

.wrapper:hover {
  background: var(--white);
  background: linear-gradient(
    90deg,
    var(--white) 6%,
    rgba(79, 98, 143, 1) 59%,
    var(--blue) 77%,
    var(--darkBlue) 100%
  );
}

.wrapper .box {
  display: inline-block;
  width: 70%;
  height: 75%;
  border: 1px solid var(--white);
  border-radius: 30px;
  background-color: var(--white);
  margin-left: 15%;
  margin-top: 6%;
  box-shadow: 0px 7px 7px 0px rgba(104, 100, 100, 0.4);
}

.wrapper .box .box__elem1 {
  width: 35%;
  height: 100%;
  float: left;
}

.wrapper .box .box__elem2 {
  margin-left: 40%;
  width: 55%;
  height: 100%;
  position: relative;
  background: url(./ErrorPicture.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 60% 0% 0% 0%;
  font-size: 8vmin;
  color: var(--darkBlue);
  position: inherit;
}

h2 {
  width: 100%;
  height: 7%;
  text-align: center;
  padding: 1% 0% 0% 0%;
  font-size: 2.4vmin;
  color: var(--darkBlue);
}

.btn {
  width: 100%;
  text-align: center;
  opacity: 0.6;
}

.btn:hover {
  opacity: 1;
}

button {
  width: 45%;
  height: 15%;
  border-radius: 13px;
  color: var(--white);
  background-color: var(--darkBlue);
  font-size: 1.5vmin;
  padding: 2%;
}

.font {
  font-family: "Oxygen", sans-serif;
}
